{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}Artists{% endblock %}

{% block content %}
    <section class="wrap-container">
        <div class="container">
            <div class="row">
                <h3>Albums </h3>
                
                <div class="col-12 pb-5 d-flex">
                    {% set  artistOne =  searchArtist(idArtist) %}
                    <img src="{{ artistOne.images[0].url }}" class="image-artist">
                    <div class="content-artist ps-5">
                        <h3 class="mb-3">{{ artistOne.name }}</h3>
                        <a href="{{ artistOne.external_urls.spotify }}" target="_blank"> Go to the artist's page</a>

                    </div>
                </div>


                <div class="col-12">
                    <table id="data-table">
                        <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Album</th>
                            <th>lyric</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in artist.items %}
                            <tr>
                                <td>
                                    <div class="thumb-home-mini"
                                         style="background: url('{{ item.images[0].url }}') center no-repeat;"></div>
                                </td>
                                <td>{{ item.name }}</td>
                                {% set nameTrack = searchAlbumTracks(item.id) %}
                                <td>{{ nameTrack.items[0].name }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}