{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
    <section class="wrap-container">
        <div class="container">
            <div class="row">
                {% for item in getDataApiSpotify.items %}
                    <div class="col-md-4 py-3">
                        <article class="image-music">
                            <img class="thumb-home img-fluid" src="{{ item.images[0].url }}">
                            <div class=" content_host">
                                <a class="d-block title" href="{{ item.external_urls.spotify }}" target="_blank">
                                    <span >{{ item.name }}</span>
                                </a>

                                {% for artist in item.artists %}
                                    <a class="subtitile_sho" href="{{ path('artists_show', {'idSpotify': artist.id}) }}">
                                        <span >{{ artist.name }}</span><br>
                                    </a>
                                {% endfor %}
                            </div>
                        </article>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                <br/>
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block myScripts %}
    <script>
       var token = app.get('/login', function(req, res) {
            var scopes = 'user-read-private user-read-email';
            var my_client_id = '537293974a694d339662e43bfb88644a';
            var redirect_uri =' {{ path('releases') }}'
            res.redirect('https://accounts.spotify.com/authorize' +
                '?response_type=code' +
                '&client_id=' + my_client_id +
                (scopes ? '&scope=' + encodeURIComponent(scopes) : '') +
                '&redirect_uri=' + encodeURIComponent(redirect_uri));
        });
       console.log(token)
    </script>
{% endblock %}