{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
    <div class="row content">
        {% for item in getDataApiSpotify.items %}
            <div class="col-md-4 px-0">

                <div class="thumb-home" style="background: url('{{ item.images[0].url }}') center no-repeat;">
                </div>
                <div class=" content_host">
                    <a class="d-block" href="{{ item.external_urls.spotify }}" target="_blank">
                        <span class="title">{{ item.name }}</span>
                    </a>

                    {% for artist in item.artists %}
                        <a href="{{ path('artists_show', {'idSpotify': artist.id}) }}">
                            <span class="subtitile_sho">{{ artist.name }}</span><br>
                        </a>
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        <br/>
        <div class="col-md-12">
        </div>
    </div>

{% endblock %}
{% block myScripts %}
    <script>
    </script>
{% endblock %}